<div class="container">
    <div class="row">
        <!-- GET -->
        <div class="col-md-12">
            <h1>GET</h1>
            <div class="card">
                <div class="card-body">
                    <ul class="list-group list-group-flush">       
                         {{#each product}}
                        <li class="list-group-item">
                           <h3><a href="{{this.id}}">{{this.title}}</a></h3>
                        </li>
                         {{/each}}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-12"> 
    </br></br>
    <input class="add" type="button" value="Ajouter">
</div>



