body {
    background-color: rgb(243, 136, 136);
}

h1 {
    padding-top: 30px;
    text-align: center;
}

.add {
   width : 120px;
   height : 60px;
   border-radius: 6px;
   margin-left: 400px;
}

.card {
    width : 400px;
    margin : 0 auto;
    border-radius: 15px;
}

